@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: 'WebRupee';
	src: url('WebRupee.V2.0.eot');
	src: local('WebRupee'), url('WebRupee.V2.0.ttf') format('truetype'),  url('WebRupee.V2.0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.WebRupee
{
	font-family: 'WebRupee';
	font-size:12px; padding:0 1px 0 3px; 
	font-weight:bold;
}